/* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}*/


/* -- -- --- - -- - - - - - -  crashcourse - -- - -- */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.event {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.event.reminder {
  border-left: 5px solid green;
}

.event h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex : 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  color: white;
  margin: 0;
  font-family: 'Mulish', 'Arial Narrow', Arial, sans-serif;
  

}

.homepage-bgimage {
  background: url(./assets/backgroundPhoto.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-container {
  margin: 0 7%;
}

.navbar {
  
  padding: 30px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  
}

.navbar .links {
  margin-left: auto;
  
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 25px;
}

.navbar .connect {
  font-weight: bold;
}

.main-text {
  font-family: 'Montserrat';
  font-weight:900;
  font-size: 80px;
  padding: 40px;
  margin: 0px 7%;
  max-width: 40%;
}










